<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "stackbit.tomoyoshi.io.github.prazma"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>StackBit</name>

    <description>
        正確かつ素早く通過レートを計算するアプリ
    </description>

    <author href="https://prazma.github.io" email="html5mac@gmail.com">
        Tomoyoshi Yamamoto
    </author>
	<icon src="img/stackiconBeta.png" width="72" height="72" />
	<icon src="img/stackiconBeta.png" width="48" height="48" />
	<icon src="img/stackiconBeta.png" width="36" height="36" />
</widget>
